.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.container svg {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #7210FF;
}
.profileSubDetail {
  box-shadow: #304ffe4a 0px 4px 15px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}